
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#4c94bc;
  }

h1 {
  color: white;
}

form {
    margin: 0 auto;
    width: 80%;
    background-color: #d9e3e8;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
    text-align: left;
    color: #38516D;
    font-size: 18px; 
   }
::placeholder {
  font-size: 16px;
}

input[type=text], [type=email], [type=tel], [type=password], [type=userSource] {
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    /* border-bottom: 2px solid #4C94BC; */
  }
/* 
  input[type=file] {
    color: transparent;
  } */

  input[type=date], select, textarea {
    /* width: 10%; */
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: #38516D;
    font-family: Arial, Helvetica, sans-serif;
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'Upload Image';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px#fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }